body{
	margin: 0;
	padding: 0;
	height: auto;
    
}
.container{
	margin: inherit;
    width: inherit;
}
.first-text{
	background: transparent;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
}
.section1{
    background: url(assets/h_img.jpg) no-repeat;
    
}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.section2{
    background: whitesmoke;
    height: 300px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}
.section3{
    height: 300px;
    background: url(assets/s_image.jpg) no-repeat;
}
.third-text{
    text-align: center;
    background: transparent;
    color: white;
}
.fourth-text{
    text-align: center;
    color: black;
    font-weight: 200;
}
.section4{
    background: whitesmoke;
    height:auto;
}
#icons img{
    margin-left: 20%;
    margin-top: 2%;
    float: left;
    
}
#icons{
    width: 100%;
}
#images1 ,#images2{
    float: left;
    margin-left: 15%;
    width: 70%;
}
#images1 img,#images2 img{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    /* margin-top: 5%; */
}
#images2{
    margin-top: 2%;
}
#images1{
    margin-top: 2%;
}
.row h1{
    float: center;
    text-align: center;
    margin-top: 2%;
}
.contacts {
    
    height: 700px;
}
.contacts h1{
    float: center;
    text-align: center;
    line-height: 80px;
}
.l1,.l2{
    border: 1px solid black;
    width: 350px;
}
.l1{
    margin-left: 250px;
}
.l2{
    margin-left: 50px;
}
.l3{
    margin-left: 24%;
    margin-top: 3%;
    border: 1px solid black;
    width: 56%;
    height: 40%;
}
.bottom1 i{
    font-size: 30px;
    border-radius: 10px;
    width: 50px;
}
.bottom1{
    margin-top: 30px;
    text-align: center;
    background-color: white;
    height: 100px;
    
}
.bottom1 p{
    line-height: 10px;

}
.images1{
    position: relative;
     width: 50%;
}
.port1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.text11{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.images1:hover .port1{
    opacity: 0.3;
}
.images1:hover .text11{
    opacity: 2;
}
.text2{
    background-color: yellow;
    color: black;
    font-size: 40px;
    padding: 16px 32px;
}